/**
 * The following styles get applied both on the frontend and in the editor.
 */

:root {
	--x-shift-up: -5rem;
	--x-shift-right: -2.5rem;
	--x-shift-down: -5rem;
	--x-shift-left: -2.5rem;
	--x-padding-sm: 1rem;
	--x-padding-md: 2.5rem;
	--x-padding-lg: 5rem;
	--x-max-width-sm: 30rem;
	--x-max-width-md: 40rem;
	--x-max-width-lg: 50rem;
}

$sizes: (sm, md, lg);
$shift: (up: top, right: right, down: bottom, left: left);

// Shift block styles
@each $option, $position in $shift {
	.x-shift-#{$option} {
		margin-#{$position}: var(--x-shift-#{$option});
		position: relative;
		z-index: 2;
	}
}

@each $size in $sizes {
	// Padding styles
	.x-padding-top-#{$size} {
		padding-top: var(--x-padding-#{$size});
	}

	.x-padding-right-#{$size} {
		padding-right: var(--x-padding-#{$size});
	}

	.x-padding-bottom-#{$size} {
		padding-bottom: var(--x-padding-#{$size});
	}

	.x-padding-left-#{$size} {
		padding-left: var(--x-padding-#{$size});
	}

	// Max width styles
	.x-max-width-#{$size} {
		max-width: var(--x-max-width-#{$size});
	}
}
