/**
 * The following styles get applied both on the front end and in the editor.
 */

:root {
	--cs-shift-up: -5rem;
	--cs-shift-right: -2.5rem;
	--cs-shift-down: -5rem;
	--cs-shift-left: -2.5rem;
	--cs-max-width-sm: 30rem;
	--cs-max-width-md: 40rem;
	--cs-max-width-lg: 50rem;
	--cs-padding-sm: 1rem;
	--cs-padding-md: 2.5rem;
	--cs-padding-lg: 5rem;
}

$extended: ".wp-block-group, .wp-block-cover";
$shift: ("up": "top", "right": "right", "down": "bottom", "left": "left");
$sizes: "sm", "md", "lg";

#{$extended} {
	// Shift block styles
	@each $option, $position in $shift {
		&.shift-#{$option} {
			margin-#{$position}: var(--cs-shift-#{$option});
			position: relative;
			z-index: 2;
		}
	}

	@each $size in $sizes {
		// Padding styles
		&.padding-top-#{$size} {
			padding-top: var(--cs-padding-#{$size});
		}

		&.padding-right-#{$size} {
			padding-right: var(--cs-padding-#{$size});
		}

		&.padding-bottom-#{$size} {
			padding-bottom: var(--cs-padding-#{$size});
		}

		&.padding-left-#{$size} {
			padding-left: var(--cs-padding-#{$size});
		}

		// Max width styles
		&.max-width-#{$size} {
			max-width: var(--cs-max-width-#{$size});
		}
	}
}
